# 4.Zomato

In [277]:
import pandas as pd

In [278]:
df=pd.read_csv("Zomato.csv")

In [279]:
df.isnull().sum()

Unnamed: 0               0
Restaurant ID            0
Restaurant Name          0
Country Code             0
City                     0
Address                  0
Locality                 1
Locality Verbose         1
Longitude                1
Latitude                 1
Cuisines                10
Average Cost for two     1
Currency                 1
Has Table booking        1
Has Online delivery      1
Is delivering now        1
Switch to order menu     1
Price range              2
Aggregate rating         2
Rating color             2
Rating text              2
Votes                    2
dtype: int64

In [280]:
df.head()

,Unnamed: 0,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,0,6317637,Le Petit Souffle,162.0,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,...,Botswana Pula(P),Yes,No,No,No,3.0,4.8,Dark Green,Excellent,314.0
1,1,6304287,Izakaya Kikufuji,162.0,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,...,Botswana Pula(P),Yes,No,No,No,3.0,4.5,Dark Green,Excellent,591.0
2,2,6300002,Heat - Edsa Shangri-La,162.0,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,...,Botswana Pula(P),Yes,No,No,No,4.0,4.4,Green,Very Good,270.0
3,3,6318506,Ooma,162.0,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,...,Botswana Pula(P),No,No,No,No,4.0,4.9,Dark Green,Excellent,365.0
4,4,6314302,Sambo Kojin,162.0,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.58445,...,Botswana Pula(P),Yes,No,No,No,4.0,4.8,Dark Green,Excellent,229.0

In [281]:
Most_Expensive_restaurant_city=df.iloc[df["Price range"].idxmax()]["City"]

In [282]:
Most_Expensive_restaurant_city

'Mandaluyong City'

In [283]:
Cheapest_restuarant_city=df.iloc[df["Price range"].idxmin()]["City"]

In [284]:
Cheapest_restuarant_city

'Brasí_lia'

In [285]:
Highest_rated_restuarant=df.iloc[df["Votes"].idxmax()]["City"]

In [286]:
Highest_rated_restuarant

'Bangalore'

In [287]:
df1=df.iloc[1400:1406]

In [297]:
Low_rating_city=df1[df1["Aggregate rating"]<4]["City"]

In [299]:
Low_rating_city  # rating below 4/5

1404    Gurgaon
1405    Gurgaon
Name: City, dtype: object

In [290]:
df1.groupby("Restaurant Name").agg({"Price range":"max"})  #most expensive restaurant is KASHMIRI KITCHEN

                   Price range
Restaurant Name
Coldpress Company          2.0
Crudo Juicery              1.0
Dabba Meat                 2.0
First Eat                  1.0
Kashmiri Kitchen           3.0
Zoe                        2.0

Most expensive restaurant is KASHIMIRI KITCHEN¶

In [292]:
# cheapest restaurant is CRUDO JUICERY and FIRST EAT
df1.groupby("Restaurant Name").agg({"Price range":"min"})

                   Price range
Restaurant Name
Coldpress Company          2.0
Crudo Juicery              1.0
Dabba Meat                 2.0
First Eat                  1.0
Kashmiri Kitchen           3.0
Zoe                        2.0

Cheapest Restaurant is CRUDO JUICERY and FRIST EAT